{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<h1>Portfolio</h1>
<hr class="border border-dark border-1">

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for symbol, shares, name, price, value in portfolio %}
        <tr>
          <th scope="row">{{ symbol }}</th>
          <td>{{ name }}</td>
          <td>{{ shares }}</td>
          <td>{{ price }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr class=''>
            <th scope='row' colspan='4'> Remaining Cash </th>
            <td>{{ cash }}</td>
        </tr>
        <tr class=''>
            <th scope='row' colspan='4'> TOTAL BALANCE </th>
            <td>{{ total }}</td>
        </tr>
    </tbody>
</table>

<hr class="border border-dark border-1">
<div class="alert alert-warning mx-auto mt-4" role="alert" style="max-width: 90vw;">
    <div class="d-flex align-items-center justify-content-center">
        <svg class="bi flex-shrink-0 me-1" width="calc(0.8vw + 0.4rem)" height="calc(0.8vw + 0.4rem)" viewBox="0 0 24 24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <strong class="fw-bolder" style="font-size: calc(0.8vw + 0.4rem);">DISCLAIMER!</strong>
    </div>
    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
    <p class="text-muted" style="font-size: calc(0.6vw + 0.3rem); margin-top: 0.5rem; margin-bottom: 0.5rem;">
        In some cases, the name of a company may not be available due to limitations in the data provided by the API used to fetch the stock information. This can occur if the API does not provide the company name for certain stocks.
    </p>
</div>


{% endblock %}